.hero, .aboutme{
  height: 100vh;
}
.hero{
    width: 100%;
    background-color: #16161a;
}
.nav{
  background-color: #471934;
  /* border-bottom: #40E0D0 solid 1px; */
}
.project{
  background-color: #16161a;

}
.service{
    background-color: #242629;
    
}
.h1service{
  padding-top: 50px;
}
.test{
    margin-top: 30%;
}
.Nav Link{
    color: white;
}
.hi{
    font-size: 20;
}
.cardBox {
    width: 250px;
    height: 300px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px; */
       box-shadow: #16161a 0px 2px 10px 0px,
       #16161a 0px 2px 25px 0px;
  }
  
  .card {
    position: absolute;
    width: 95%;
    min-height: 95%;
    background: #000814;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1590272456521-1bbe160a18ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  }
  
  .card .h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 800;
    pointer-events: none;
    opacity: .8;
    color: #fffffe;
  }
  
  .card .content .h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .card .content p {
    font-size: 14px;
    line-height: 1.4em;
  }
  
  .card .content {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card:hover .h4 {
    opacity: 0;
  }
  
  .cardBox::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 150%;
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    transform-origin: center;
    animation: glowing_401 4s linear infinite;
  }
  .project-card{
    margin-top: 40px;
    height: 35vh;
    width: 100%;
    transition: ease-in-out 0.60s;
  }
  .project-img img{
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s;
  }
  .project-img:hover img{
    transform: scale(1.09);
  }
  .project-img{
    height: 33vh;
    width: 30%;
    filter: grayscale(80%);
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
    transition: ease-in 0.4s;
  }
  .project-img:hover{
    filter: grayscale(0%);
    transform: scale(0.98, 0.94);
    cursor: pointer;
    overflow: hidden;
  }
  .title-project{
    margin-top: -10px;
  }
  .radius{
    border-radius: 10px;

  }
  button {
    width: 120px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF8906;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.01em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
   

  .adec{
    text-decoration: none;
    background-color: red;
  }
  @keyframes glowing_401 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

@media (width <= 996px){
    .hero{
      height: 100vh;
      width: 100%;
      background-color: #16161a;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
    }
    .hero-description{
        text-align: center;
    }
    .card{
        width: 100%;
    }
    .card-gap{
        margin-bottom: 20px;
    }
    .service{
      height: 100%;
      background-color: #242629;
      
  }
  .project-card{
    width: 90%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #242629;
  }
  .project-card p{
    overflow: hidden;
  }
  .project-img{
    margin-left: 0;
    align-self: center;
    background-position: bottom;
    width: 95%;
  }
  .project-card h2{
    text-align: center;
  }
  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}